---
import { formatDistanceToNow } from "date-fns";
const { items, getItemUrl, actions, id, returnUrl } = Astro.props;
const idSelector = id ? `#${id}` : undefined;
console.log({ id });

function getDistanceToNow(date) {
  return formatDistanceToNow(new Date(date), { addSuffix: true });
}
---

<ul {id}>
  {
    items.map((item: any) => (
      <li>
        <a href={getItemUrl(item)}>{item.title || item.url}</a>
        <p>{getDistanceToNow(item.createdAt)}</p>
        <p>
          <a href={item.url} target="_blank">
            External link
          </a>
        </p>
        <p>{item.note}</p>
        <form method="POST" class="actions-group" action={getItemUrl(item)}>
          <input type="hidden" name="return-to-url" value={returnUrl} />

          {actions.map((action: any) => (
            <button
              name="form-action"
              value={action.value}
              data-confirm-message={action.confirm || undefined}
            >
              {action.label}
            </button>
          ))}
        </form>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    list-style: none;
    padding-left: 0;
  }

  ul > li {
    flex: 1 1 12rem;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    padding: var(--space-s);
  }
</style>

<script>
  const buttonsWithConfirm = document.querySelectorAll(
    "button[data-confirm-message]",
  );

  buttonsWithConfirm.forEach((button) => {
    button.addEventListener("click", (event) => {
      if (!confirm(button.dataset.confirmMessage)) {
        event.preventDefault();
      }
    });
  });
</script>
