---
const { next, prev, current } = Astro.props;
---

<div class="next-prev">
  <div class="prev">
    {prev && <a href={prev.url}>{prev.label}</a>}
  </div>
  <div class="current">
    {current}
  </div>
  <div class="next">
    {next && <a href={next.url}>{next.label}</a>}
  </div>
</div>

<style>
  .next-prev {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .next-prev a {
    display: block;
    padding: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-decoration: none;
  }
</style>
